body h1{
    text-align: center;
    font-size: larger;
}
body{
    background-color: green;
}
p{
    color: black;
    background-color: yellow;
}


h1{
    color: yellow;
    background-color: black;
    font-style: italic;
}
p select{
    color: red;
    background-color: black;
}
h2+p{
    background-color: rgb(22, 5, 19);
    color: brown;
    font-size: medium;
}
p#one{
    color: blue;
    background-color: rgb(22, 16, 8);
}
.area{
    color: black;
    background-color:yellowgreen;
}
span.special{
    color: brown;
    background-color: black;
}
.submit{
    color: brown;
    background-color: black;
}