*{
    box-sizing: border-box;
    margin: 10px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px 30px;
    padding: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea{
    width: 100%;
    padding: 20px;
    background-color: rgb(221, 202, 202);
    border-radius: 5px;
    border: none;
}

.container{
    background-color:gray ;
    padding: 20px 30px;
}

fieldset{
    background-color:  rgb(221, 202, 202);
    border-radius: 5px;
    border: none;
}

input[type="submit"]{
    background-color: rgb(181, 44, 87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: gold;
    
}

.main_heading{
    text-align: center;
    text-decoration: underline;
}
